<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %></title>
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
  <!-- All the css that is required -->
  <link rel="stylesheet" href="/static/vendors/stylesheets/font-awesome.css">
  <link rel="stylesheet" href="/static/vendors/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/master.css">
</head>

<body>
  <header>
    <% include ../../partials/header %>
  </header>

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<h1>Wizard <i class="fa fa-bolt"></i></h1>
			<h2>Router Configuration</h2>
		</div>
	</div>
</div>

	<div class="container">
		<div class="well">
			<p>
				Below is the Flexible Netflow configuration that is used to export NBAR flows to the Destne collector. The ‘match’ statements are key fields that will be used to sort and analyze trends of the ingress and egress traffic on the branch head-end router. The ‘collect’ statements are non-key fields that will be used to describe and qualify flows during configuration template generation for AVC QoS and Pfrv3 POC.
			</p>
		</div>
	</div>

	<div class="container">

	<div class="well">
		<label class="control-label required" for="flowExporterDestination">Flow Exporter IP Addres</label>
		<input type="text" id="flowExporterDestination" required="required" maxlength="60" class="form-control" placeholder="e.g. 123.45.67.89">

		<label class="control-label required" for="flowExporterPort">Flow Exporter UDP Port</label>
		<input type="text" id="flowExporterPort" required="required" maxlength="60" class="form-control" placeholder="e.g. 1234">

		<label class="control-label required" for="flowExporterEntries">Number of entires</label>
		<input type="text" id="flowExporterEntries" required="required" maxlength="60" class="form-control" placeholder="e.g. 100000">

		<hr>
    <br>
		<div class="alert alert-warning" role="alert">
			<i class="fa fa-info-circle"></i>
			Copy over this configuration to your Router
		</div>
		<pre style="background-color: white;">
			flow exporter DESTNE
			description FLOW EXPORTER TO DESTNE (MARCH)
			destination <span id="flowExporterDestinationValue">176.122.10.11</span>
			transport udp <span id="flowExporterPortValue">9995</span>
			option application-table timeout 43200

			flow record DESTNE
			match ipv4 protocol
			match ipv4 source address
			match ipv4 destination address
			match transport source-port
			match transport destination-port
			match flow direction
			collect ipv4 dscp
			collect interface input
			collect interface output
			collect counter bytes
			collect counter packets
			collect timestamp sys-uptime first
			collect timestamp sys-uptime last
			collect application name

			flow monitor DESTNE
			exporter DESTNE
			cache timeout inactive 300
			cache timeout active 1800
			cache timeout update 1800
			cache entries <span id="flowExporterEntriesValue">100000</span>
			record DESTNE
		</pre>
	</div>
</div>

<div class="container">
  <a href="/wizard/addUsers" class="btn btn-lg btn-default pull-left"><i class="fa fa-arrow-circle-left"></i> Go Back</a>
  <a href="/wizard/collector" class="btn btn-lg btn-success pull-right">Continue <i class="fa fa-arrow-circle-right"></i></a>
</div>

<footer>
	<% include ../../partials/footer%>
</footer>

<!-- JS Files Required -->
<script src="/static/vendors/js/jquery-1.11.1.min.js"></script>
<script src="/static/vendors/js/bootstrap.min.js"></script>
<script src="/static/scripts/Wizard/router.js"></script>
</body>
</html>
