html, body{
  height:100%
}
body {
  box-shadow:inset -70px 0 200px -30px rgba(0,0,0,.75);
}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
