<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %></title>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
  <!-- All the css that is required -->
  <link rel="stylesheet" href="/static/vendors/stylesheets/font-awesome.css">
  <link rel="stylesheet" href="/static/vendors/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/master.css">
</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-9 text-left">
				<h1>Collector Management</h1>
				<p>Configure destne's collector for analysis.</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading panel-heading-tabbed">
			<ul class="nav nav-tabs panel-tabs panel-title">
				<li role="presentation" class="active">
					<a href="#collector_status" aria-controls="collector_status" role="tab" data-toggle="tab"><i class="fa fa-heartbeat"></i> Collector Status</a>
				</li>
				<li role="presentation">
					<a href="#configure_collector" aria-controls="configure_collector" role="tab" data-toggle="tab"><i class="fa fa-cog"></i> Configure Collector</a>
				</li>
				<li role="presentation">
					<a href="#collector_help" aria-controls="collector_help" role="tab" data-toggle="tab"><i class="fa fa-question-circle"></i> Help</a>
				</li>
			</ul>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				<!-- Collector Status Tab -->
				<div role="tabpanel" class="tab-pane fade in active" id="collector_status">
					<div class="alert alert-danger" id="collectorInfo" style="display: none;">
						<i class="fa fa-exclamation-triangle"></i> Collector is not configured!
          </div>
          <div id="collectorConfig">
            <h4>Current Collector Parameters</h4>
            <table class="table table-responsive">
              <tr>
                <th class="col-xs-6">Collector IP: </th>
                <td class="col-xs-6" id="configIP"></td>
              <tr>
                <th class="col-xs-6">Collector Port: </th>
                <td class="col-xs-6" id="configPort"></td>
              </tr>
              <tr>
                <th class="col-xs-6">SQL DB: </th>
                <td class="col-xs-6" id="configDB"></td>
              </tr>
              <tr>
                <th class="col-xs-6">Status: </th>
                <td class="col-xs-6" id="collectorStatus"></td>
              </tr>
            </table>
          </div>
					<div class="btn-group" role="group">
						<div class="btn-group" role="group">
						  <a type="button" id="collectorStart" class="btn" style="display: none;"><i class="fa fa-play"></i> Start Collector</a>
						</div>
					</div>
				</div>

				<!-- Configure Collector Tab -->
				<div role="tabpanel" class="tab-pane fade" id="configure_collector">
          <form role="form" id="collectorConfigForm">
            <div class="alert" role="alert" id="collectorConfigInfo" style="display: none;">
            </div>
            <div class="row">
              <div class="col-xs-8 form-group has-feedback">
                <label class="control-label required" for="collectorIP">Collector IP</label>
                <input type="text" id="configIP" name="collectorIP" class="form-control collectorGroup">
              </div>
              <div class="col-xs-4 form-group has-feedback">
                <label class="control-label required" for="collectorPort">Collector Port</label>
                <input type="text" id="configPort" name="collectorPort" class="form-control collectorGroup">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 form-group has-feedback">
                <label class="control-label required" for="sqlHost">SQL Host Address</label>
                <input type="text" class="form-control collectorGroup" id="sqlHost" name="sqlHost">
              </div>
              <div class="col-xs-6 form-group has-feedback">
                <label class="control-label required" for="sqlDB">SQL Database Name</label>
                <input type="text" class="form-control collectorGroup" id="sqlDB" name="sqlDB">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 form-group has-feedback">
                <label class="control-label required" for="sqlUser">SQL Username</label>
                <input type="text" class="form-control collectorGroup" id="sqlUser" name="sqlUser">
              </div>
              <div class="col-xs-6 form-group has-feedback">
                <label class="control-label required" for="sqlPassword">SQL Password</label>
                <input type="password" class="form-control collectorGroup" id="sqlPassword" name="sqlPassword">
              </div>
            </div>
            <div class="text-center">
          	  <button type="reset" id="collectorReset" name="collectorReset" class="btn btn-default">
          		  <i class="fa fa-undo"></i> Clear
          	  </button>
              <button type="submit" id="collectorSave" name="collectorSave" class="btn btn-warning">
          		  <i class="fa fa-floppy-o"></i> Save Changes
          	  </button>
            </div>
          </form>
				</div>

				<!-- Help Tab -->
				<div role="tabpanel" class="tab-pane fade" id="collector_help">
          <h4><strong>Collector Status</strong></h4>
          <p>The status of the collector is show here along with information regarding its IP
             Port, and Database Name. From this panel you can stop or start the collector. If
             an error occurs it will be displayed at the top of the window.</p>
          <h4><strong>Configure Collector</strong></h4>
          <h5><em>Parameters</em></h5>
          <ul>
            <li>Collector IP - This is the IP (IPv4) that the destne device should receive Netflow information on.
                This is generally the local IP of the device which can be found on the device page</li>
            <li>Collector Port - This is the port that the destne device will listen on for Netflow information.
                It can be any value but must match the one configured in the router</li>
            <li>SQL Host Address - This is the address for the SQL Database that will store the Netflow information.
                A typical value for this field is 127.0.0.1 which is the device's address</li>
            <li>SQL Database Name - This is the name of the database that will hold the Netflow data, it must already be setup</li>
            <li>SQL Username/Password - These are the credentials for the specified database, note that the credentials must allow
                for inserting information into the database</li>
          </ul>
          <p><strong><i>NOTE: Configuration of the collector does not change its current status (running or stopped).
                   To update this you must start or stop the collector on the Collector Status tab.</i></strong></p>
				</div>
			</div>
		</div>
	</div>

  <footer>
    <% include ../partials/footer%>
  </footer>

  <!-- JS Files Required -->
  <script src="/static/vendors/js/jquery-1.11.1.min.js"></script>
  <script src="/static/vendors/js/jquery.validate.min.js"></script>
  <script src="/static/vendors/js/additional-methods.min.js"></script>
  <script src="/static/vendors/js/bootstrap.min.js"></script>
  <script src="/static/scripts/collector.js"></script>
</body>
</html>
